---
layout: base
permalink: /go/
---
<div class="container">
  <div class="row">
  <div class="jumbotron">
    <h2>Welcome</h2>
    <p>
      This is a list of the <a href="http://golang.org">Go</a> projects I've created
      that I think are ready for general consumption.
    </p>
    <p>
      Most of these are hosted on <a href="https://github.com">GitHub</a>,
      and the online documentation is provided by <a href="http://godoc.org">GoDoc.org</a>.
    </p>
    <p>
      If there's something on <a href="https://github.com/kylelemons">my GitHub</a>
      that isn't listed here, feel free to file an issue and ask whether it is ready to be included.
    </p>
  </div>
  </div>
  <div class="row">
    <h2>Projects:</h2>
  </div>  
  <div class="row">
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          Project Documentation
        </th>
        <th>
          Description
        </th>
        <th>
          Links
        </th>
      </tr>
      {% for project in site.projects -%}
      {% assign short = project.name -%}
      <tr>
        <td><a href="http://godoc.org/{{project.import}}"
          {%- if site.google_analytics %}
          onClick="ga('send', 'event', 'Package', 'Documentation', '{{short}}');"
          {% endif -%}
          >{{project.import}}</a></td>
        <td>{{project.desc}}</td>
        <td>
          {% if project.links -%}
          <ul class="linklist">
            {% for link_kv in project.links -%}
            <li><a href="{{link_kv[1]}}"
              {%- if site.google_analytics %}
              onClick="ga('send', 'event', 'Package', '{{link_kv[0]}}', '{{short}}');"
              {% endif -%}
              >{{link_kv[0]}}</a></li>
            {% endfor -%}
          </ul>
          {% else -%}
          &nbsp;
          {% endif -%}
        </td>
      </tr>
      {%- endfor %}
    </table>
  </div>
</div>
