---
permalink: /go/
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>KyleLemons.net - Go package listing</title>
  <meta charset='utf-8' />
  {% for project in site.projects -%}
  <meta name="go-import" content="{{project.import}} {{project.vcs}} {{project.repo}}" />
  {% if project.source -%}
  <meta name="go-source" content="{{project.import}} {{project.source}}" />
  {% endif -%}
  {% endfor -%}

  <link rel='stylesheet' type='text/css' href='/assets/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' type='text/css' href='/assets/css/projects.css' />
</head>
<body>
{% include top_bar.html %}
<div class="container">
  <div class="row">
  <div class="hero-unit">
    <h2>Welcome</h2>
    <p>
      This is a list of the <a href="http://golang.org">Go</a> projects I've created
      that I think are ready for general consumption.
    </p>
    <p>
      Most of these are hosted on <a href="https://github.com">GitHub</a>,
      and the online documentation is provided by <a href="http://godoc.org">GoDoc.org</a>.
    </p>
    <p>
      If there's something on <a href="https://github.com/kylelemons">my GitHub</a>
      that isn't listed here, feel free to file an issue and ask whether it is ready to be included.
    </p>
  </div>
  </div>
  <div class="row">
    <h2>Projects:</h2>
  </div>  
  <div class="row">
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          Project Documentation
        </th>
        <th>
          Description
        </th>
        <th>
          Links
        </th>
      </tr>
      {% for project in site.projects -%}
      {% assign short = project.name -%}
      <tr>
        <td><a href="http://godoc.org/{{project.import}}"
          {%- if site.google_analytics %}
          onClick="ga('send', 'event', 'Package', 'Documentation', '{{short}}');"
          {% endif -%}
          >{{project.import}}</a></td>
        <td>{{project.desc}}</td>
        <td>
          {% if project.links -%}
          <ul class="linklist">
            {% for link_kv in project.links -%}
            <li><a href="{{link_kv[1]}}"
              {%- if site.google_analytics %}
              onClick="ga('send', 'event', 'Package', '{{link_kv[0]}}', '{{short}}');"
              {% endif -%}
              >{{link_kv[0]}}</a></li>
            {% endfor -%}
          </ul>
          {% else -%}
          &nbsp;
          {% endif -%}
        </td>
      </tr>
      {%- endfor %}
    </table>
  </div>
</div>
</body>
{% include google_analytics.html %}
</html>
{{end}}

