    <!-- top bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">KyleLemons.net</a>
            <ul class="nav navbar-nav">
                <li
                    {%- if page.url == "/" %} class="active"{% endif -%}
                    ><a href="/">Home</a></li>
                <li
                    {%- if page.url == "/blog/" %} class="active"{% endif -%}
                    ><a href="/blog/">Blog</a></li>
                <li
                    {%- if page.url == "/go/" %} class="active"{% endif -%}
                    ><a href="/go/">Go Projects</a></li>
                <li><a href="{{site.github.owner_url}}">GitHub</a></li>
            </ul>
        </div>
    </nav>
