---
---

a:hover {
    font-weight: normal;
    text-decoration: underline;
}

h1.post-title {
    margin-bottom: 3px;
}

/* Post pages */

.post-permalink {
    visibility: hidden;
}

h1.post-title:hover .post-permalink {
    visibility: visible;
}

.post-meta-container {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}

.post-meta-container .grow {
    flex: 1 auto;
}

.post-meta {
    display: inline-block;
    font-size: smaller;
    font-style: oblique;
}

.post-meta + .post-meta {
    margin-left: 12px;
}

.post-meta > * {
    vertical-align: middle;
}
.post-meta .material-icons {
    font-size: 11pt;
}

.archive-item > * {
    vertical-align: middle;
}

.archive-item small {
    font-weight: lighter;
    font-style: oblique;
    padding: 4px;
}

/* Project page: */
.linklist {
    list-style: none;
}

.linklist, .linklist * {
    display: inline;
    padding: 0;
    margin: 0;
}

.linklist li:before {
    content: ' / ';
}

.linklist li:first-child:before {
    content: '';
}

/* Fix margins around lists */
p + ul, p + ol {
    margin: 10px 0; /* top and bottom only */
}

/* Fix details */
details > summary:first-of-type {
    display: list-item;
}
summary > p {
    display: inline-block;
}
